.urgent-countdown {
  color: rgb(207, 42, 42);
}

.correct-words {
  color: rgb(108, 167, 20);
}

.incorrect-words {
  color: rgb(207, 42, 42);
}

.next-round-button {
  margin-top: 18px;
}

.show-answer-button {
  margin-top: 20px;
}

.feedback-messages {
  margin-top: 18px;
  margin-bottom: 0px;
}
